[Unit]
Description=VLStream Compose stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/vlstream/app
ExecStart=/usr/bin/docker compose -f compose.yaml up -d --no-build --pull never --wait --wait-timeout 240
ExecStop=/usr/bin/docker compose -f compose.yaml stop -t 45
TimeoutStartSec=300
TimeoutStopSec=180
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
